.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 12px;
}

.paper {
    width: 55%;
    max-width: 800px;
}

@media (max-width: 1024px) {
    .paper {
        margin-top: 8px;
        width: calc(100% - 16px);
    }
}
