.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 12px;
}

.paper {
    margin-top: 8px;
    width: calc(100% - 16px);
    max-width: 800px;
}

@media screen and (min-width: 1024px) {
    .paper {
        margin-top: unset;
        width: 55%;
    }
}
