@value v-time-label-margin: 48px;

.calendar-container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    height: calc(100% - 24px);
}

.header {
    display: flex;
    flex-direction: row;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #500000;
    margin-left: v-time-label-margin;
    margin-bottom: -0.5rem;
}

.header-tile {
    flex-grow: 1;
    color: white;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.calendar-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
}

.hour-label {
    flex-grow: 0;
    width: calc(v-time-label-margin - 4px);
    align-self: flex-start;
    text-align: right;
    padding-right: 4px;
}

.hour-marker {
    flex-grow: 1;
    border-bottom: 1px solid lightgray;
    height: 0;
    align-self: stretch;
    position: relative;
    top: 0.5em;
}

.calendar-row:nth-last-child(2) {
    height: 0.5rem;
    flex-basis: 0;
    flex-grow: 0;
}

.meetings-container {
    position: absolute;
    height: calc(100% - 0.5rem);
    width: calc(100% - v-time-label-margin);
    top: 0px;
    left: 0px;
    margin-left: v-time-label-margin;
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}

.calendar-body {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.calendar-day {
    flex-grow: 1;
    position: relative;
}