.link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 8px;
}

.dialog-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.close-button {
    padding: 0px !important;
}
