.button-container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    justify-content: space-between;
    user-select: none;
}

.spacer {
    height: 8px;
}

#card-header {
    text-align: center;
    width: 100%;
}

#instructions {
    margin-left: 8px;
    margin-right: 8px;
}
