.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 16px);
    padding: 8px;
    user-select: none;
}

.spacer {
    height: 8px;
}

#card-header {
    text-align: center;
    width: 100%;
}
