video {
    display: block;
    max-width:920px;
    max-height:380px;
    width: 90%;
    margin-left: 5%;
    height: auto;
    object-fit: cover;
}


.Title {
    display: block;
    margin-bottom: 5px;
    display: block;
    margin-left: 5%;
    margin-right: auto;
    width: 90%;
    text-align: left;

}

.Caption {
    display: block;
    margin-left: 5%;
    width: 90%;
}

.subtitle {
    text-align: center;
    color: #757575;
    padding-bottom: 16px;
}

ul {
    list-style-type: disc;
    margin-top: 0px;
    margin-bottom: 0px;
}

li {
    /* copied from typography becuase the <p> it creates in 
       <ul> is not valid DOM nesting apparently
    */
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    /* end of copied css ////////////////////////////// */
    padding-bottom: 8px;
}