.gpa {
    color: rgba(0, 0, 0, 0.54);
}

.schedule-title {
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    margin-bottom: 4px;
}

#card-header {
    text-align: center;
    width: 100%;
}

.configure-card {
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: auto;
}

.list {
    width: 100%;
    overflow-y: auto;
}

.no-schedules {
    text-align: center;
}

.list-item-with-preview {
    display: flex;
    flex-direction: row;
}

.section-label-row {
    display: flex;
}

.color-box {
    display: inline-block;
    outline: 1px solid black;
    border: 1px solid white;
    margin-right: 4px;
    margin-top: calc((1rem - 12px) / 2);
    width: 12px;
    height: 12px;
}
