.gpa {
    float: right;
}

#card-header {
    text-align: center;
    width: 100%;
}

.configure-card {
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: auto;
}

.list {
    width: 100%;
    overflow-y: auto;
}

.no-schedules {
    text-align: center;
}

.schedule-header {
    vertical-align: center;
}

.schedule-button {
    margin-left: 10px;
}
