#card-header {
    text-align: center;
    width: 100%;
}

.configure-card {
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: auto;
}

@media screen and (max-width: 767px) {
    .configure-card {
        overflow-y: visible;
    }
}

.list {
    width: 100%;
    overflow-y: auto;
}

.no-schedules {
    text-align: center;
}

.schedule-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.schedule-name-container {
    display: flex;
    align-items: center;
    min-width: 0px;
}

.schedule-name-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-item-with-preview {
    display: flex;
    flex-direction: row;
}


.color-box {
    display: block;
    outline: 1px solid black;
    border: 1px solid white;
    margin-right: 4px;
    width: 13px;
    height: 13px;
    flex-shrink: 0;
}

.x-icon-outer {
    display: block;
    height: 15px;
    width: 1px;
    background-color: red;
    margin-left: 6px;
    margin-top: -1px;
    transform: rotate(45deg);
}

.x-icon-inner {
    display: block;
    height: 15px;
    width: 1px;
    background-color: red;
    transform: rotate(90deg);
}

.section-num {
    white-space: nowrap;
    padding-right: 8px;
}

.instructor-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    visibility: hidden;
    display: block;
    width: 0px;
    padding-bottom: 4px;
}

.enable-pointer-events {
    pointer-events: all;
}

.no-flex-shrink {
    flex-shrink: 0;
}

.schedules-loading-indicator {
    display: flex;
    align-items: center;
    height: 100%;
}

.list-item-contents {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: stretch;
}

.list-item-text-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}

.schedule-content-container {
    display: grid;
    grid-template-columns: min-content min-content 1fr;
}

.section-container {
    flex-grow: 1;
}

.details-button {
    vertical-align: bottom;
}
