#card-header {
    text-align: center;
    width: 100%;
}

.configure-card {
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: auto;
}

.list {
    width: 100%;
    overflow-y: auto;
}

.no-schedules {
    text-align: center;
}

.schedule-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.schedule-name-container {
    display: flex;
    align-items: center;
    min-width: 0px;
}

.schedule-name-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-item-with-preview {
    display: flex;
    flex-direction: row;
}

.section-label-row {
    display: flex;
    align-items: center;
}

.color-box {
    display: inline-block;
    outline: 1px solid black;
    border: 1px solid white;
    margin-right: 4px;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
}

.color-box-placeholder {
    position: relative;
    display: inline-block;
    border: 1px solid black;
    margin-right: 4px;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
}

.x-icon-outer {
    position: absolute;
    height: 18px;
    width: 1px;
    background-color: red;
    transform: rotate(45deg);
    left: 5px;
    top: -3px;
}

.x-icon-inner {
    display: inline-block;
    height: 18px;
    width: 1px;
    background-color: red;
    transform: rotate(90deg);
}

.section-num {
    flex-shrink: 0;
}

.instructor-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    visibility: hidden;
    display: block;
    width: 0px;
    padding-bottom: 4px;
}

.enable-pointer-events {
    pointer-events: all;
}

.no-flex-shrink {
    flex-shrink: 0;
}

.schedules-loading-indicator {
    display: flex;
    align-items: center;
    height: 100%;
}

.list-item-contents {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: stretch;
}

.list-item-text-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}

.schedule-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.section-container {
    flex-grow: 1;
}

.details-button {
    vertical-align: bottom;
}
