.contributors-row {
    display: grid;
    grid-template-columns: 55% 35% 10%;
    width: 100%;
}

/* Applied to GitHub and LinkedIn icons */
.override-icon-button {
    padding: 0px !important;
    color: initial !important;
}
