
.container {
    display: flex;
    flex-direction: column;
    height: 10%;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.paper {
    padding: spacing(2);
    text-align: center;
  }

