.button-container {
    display: flex;
    align-items: center;
    padding-left: 1%;
}

.select-term-button {
}

.menu-paper {
    max-height: 216px !important;
    max-width: 800px !important;
}
