.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-paper {
    max-height: 216px !important;
    width: 55% !important;
    max-width: 800px !important;
}
