.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-term-button {
    width: calc(100% - 16px) !important;
    max-width: 800px;
    background-color: white !important;
}

.menu-paper {
    max-height: 216px !important;
    width: calc(100% - 16px) !important;
    max-width: 800px !important;
}

@media screen and (min-width: 1024px) {
    .select-term-button {
        width: 55% !important;
    }

    .menu-paper {
        width: 55% !important;
    }
}

@media screen and (max-width: 1024px) {
    .menu-paper {
        left: 8px !important;
    }
}
