video {
    display: block;
    max-width:920px;
    max-height:380px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.subtitle {
    text-align: center;
    color: #757575;
    padding-bottom: 16px;
}