.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.dialog-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dialog-link {
    width: 30%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 32px;
}
