.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.dialog-container {
    padding-top: 32px;
    display: flex;
    justify-content: center;
}

.dialog-link {
    display: flex;
    justify-content: space-evenly;
}
