.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.dialog-container {
    padding-top: 32px;
    display: flex;
    justify-content: center;
}

.dialog-link {
    display: flex;
    justify-content: space-evenly;
}

.iconButton {
    text-decoration: none;
    color: #500000 !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.iconButton:hover {
    text-decoration: underline;
    color: #500000 !important;
    background-color: transparent !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
