.divider-container {
    margin-top: 4px;
}

.my-list-item-icon {
    min-width: 0px !important;
    align-self: flex-start;
}

.section-rows {
    overflow: auto;
}

.my-icon-button {
    padding: 3px !important;
}

.dense-list-item:global(.MuiTypography-body1) {
    line-height: 1.1;
}

.dense-list-item td:last-child {
    text-align: right;
}

.list-subheader-dense:global(.MuiListSubheader-root) {
    line-height: inherit;
    background-color: white;
}

.list-subheader-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-honors-icon {
    display: flex;
    align-items: center;
    min-height: 20px;
}

.meeting-type {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.no-grades-available {
    margin-right: 5px;
}

.placeholder-text {
    padding-bottom: 8px;
}

.section-details-table {
    width: 100%;
}

.section-details-table tr td:nth-child(2), .section-details-table tr td:nth-child(3) {
    text-align: center;
}

/* The next 2 rules remove extra padding on ListItem components */
.no-extra-space {
    margin-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.add-bottom-space {
    margin-top: 8px;
}

.indent-for-checkbox:global(.MuiListItem-root) {
    padding-left: 14px;
}

.no-start-padding {
    padding-inline-start: 0;
}

.meeting-info-wrapper {
    display: flex;
    justify-content: space-between;
}

.meeting-info-wrapper:nth-child(2n) {
    background: #50000020;
}

/* Removes background from 1-meeting sections */
.meeting-info-wrapper:nth-child(2):last-child {
    background: unset;
}

.meeting-info-wrapper > div {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.meeting-info-wrapper > div > div {
    padding: 2px;
}

.less-checkbox-padding:global(.MuiCheckbox-root) {
    margin: 4px 4px 4px 0;
    padding: 0px;
}
.section-name-container {
    display: flex;
    align-items: center;
}
