.divider-container {
    margin-top: 4px;
}

.my-list-item-icon {
    min-width: 0px !important;
    align-self: flex-start;
}

.section-rows {
    overflow: auto;
    max-height: 300px;
}

.my-icon-button {
    padding: 3px !important;
}

.dense-list-item:global(.MuiTypography-body1) {
    line-height: 1.1;
}

.dense-list-item td:last-child {
    text-align: right;
}

.list-subheader-dense:global(.MuiListSubheader-root) {
    line-height: inherit;
    /* position is sticky by default, which prevents the first instructor name from scrolling 
       with the rest of the SectionSelect */
    position: initial;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-honors-icon {
    display: flex;
    align-items: center;
}

.no-grades-available {
    margin-right: 5px;
}

.gray-text {
    color: rgba(0, 0, 0, 0.56);
    padding-bottom: 8px;
}

.section-details-table {
    width: 100%;
    max-width: 300px;
}
