.divider-container {
    margin-top: 4px;
}

.my-list-item-icon {
    min-width: 0px !important;
    align-self: flex-start;
}

.section-rows {
    overflow: auto;
}

.my-icon-button {
    padding: 3px !important;
}

.dense-list-item:global(.MuiTypography-body1) {
    line-height: 1.1;
}

.dense-list-item td:last-child {
    text-align: right;
}

.list-subheader-dense:global(.MuiListSubheader-root) {
    line-height: inherit;
    background-color: white;
}

.list-subheader-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-honors-icon {
    display: flex;
    align-items: center;
    min-height: 20px;
}

.meeting-type {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.no-grades-available {
    margin-right: 5px;
}

.placeholder-text {
    padding-bottom: 8px;
}

.section-details-table {
    width: 100%;
}

.section-details-table tr td:nth-child(2), .section-details-table tr td:nth-child(3) {
    text-align: center;
}

/* The next 2 rules remove extra padding on ListItem components */
.no-extra-space {
    margin-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.add-bottom-space {
    margin-top: 8px;
}

.no-start-padding {
    padding-inline-start: 0;
}

.section-name-container {
    display: flex;
    align-items: center;
}

.sort-menu-position {
    float: right;
}
.sort-type-menu-button {
    margin: 5px 0 !important;
    font-size: 86% !important;
    font-weight: 500 !important;
    height: 35px;
    padding: 0 4px !important;
    color: rgba(0, 0, 0, 0.66) !important;
}
.sort-type-menu-button-icon {
    margin-right: 4px;
}
.sort-order-button {
    margin: 0 8px 0 0 !important;
    border-radius: 0 !important;
    padding: 5px 0 !important;
}
.sort-order-button-icon {
    transition: transform 350ms ease-in-out !important;
    transform: rotate3d(1, 0, 0, 0deg);
}
.sort-order-button-icon-ascending {
    transform: rotate3d(1, 0, 0, -180deg);
}

 /* Loading bar while sorting in progress */
#center-progress {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
    padding-bottom: 20px;
    justify-content: center;
    min-height: 300px;
}

.filter-handle {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.filter-handle:focus {
    outline: none;
}

.filter-handle-bar {
    flex-grow: 1;
    height: 2px;
    background-color: black;
    margin-left: 6px;
    margin-right: 6px;
}

.filter-handle-bottom-bar {
    width: calc(100% - 12px);
    height: 2px;
    background-color: black;
    margin: 6px 6px 0 6px;
}
