.divider-container {
    margin-top: 4px;
}

.my-list-item-icon {
    min-width: 0px !important;
    align-self: flex-start;
}

.section-rows {
    overflow: auto;
}

.my-icon-button {
    padding: 3px !important;
}

.dense-list-item:global(.MuiTypography-body1) {
    line-height: 1.1;
}

.dense-list-item td:last-child {
    text-align: right;
}

.list-subheader-dense:global(.MuiListSubheader-root) {
    line-height: inherit;
    background-color: white;
}

.list-subheader-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-honors-icon {
    display: flex;
    align-items: center;
    min-height: 20px;
}

.meeting-type {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.gray-text {
    color: rgba(0, 0, 0, 0.56);
    padding-bottom: 8px;
}

.section-details-table {
    width: 100%;
}

.section-details-table tr td:nth-child(2), .section-details-table tr td:nth-child(3) {
    text-align: center;
}

/* The next 2 rules move the section divider to the bottom of the ListItem */
.no-bottom-space {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.add-bottom-space {
    margin-top: 8px;
}

.no-start-padding {
    padding-inline-start: 0;
}
