.container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}

/* Having this wrapper lets us fix the top & bottom of the .course-select-column of the page
   so the picker scrolls "under" the button while still being within the bounds of the
   page
*/
.column-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    margin-bottom: 8px;
}

.course-select-column {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    bottom: 0px;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .course-select-column {
        position: static;
    }
    /* TODO course select column rm pos abs */
}

.row {
    padding-top: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    min-height: 38px;
    height: auto;
    transition: min-height 300ms linear 0ms;
}

.row.no-transition {
    transition: none;
}

.expanded-row {
    overflow-y: hidden;
    min-height: 500px;
}

.expanded-row-small {
    overflow-y: visible;
    /* ensures that empty course cards don't get shrunk when there are
     * a lot of cards on screen */
    flex-shrink: 0;
}

.expanded-row-temp {
    overflow-y: hidden;
    /* measured from the height of an empty, collapsed course card */
    min-height: 38px;
}

#add-course-button {
    width: 100%;
}

#button-container {
    position: sticky;
    bottom: 0;
    padding-right: 8px;
    background-color: #c2c2c2;
    z-index: 2;
}
