.container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}

/* Having this wrapper lets us fix the top & bottom of the .course-select-column of the page
   so the picker scrolls "under" the button while still being within the bounds of the
   page
*/
.column-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    margin-bottom: 8px;
}

.course-select-column {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    bottom: 0px;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.row {
    padding-top: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}

.expanded-row {
    min-height: 500px;
}

#add-course-button {
    width: 100%;
}

#button-container {
    position: sticky;
    bottom: 0;
    padding-right: 8px;
    background-color: #c2c2c2;
    z-index: 2;
}
