.container {
    width: calc(100% - 8px);
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 8px;
    padding-left: 8px;
}

/* Having this wrapper lets us fix the top & bottom of the .course-select-column of the page
   so the picker scrolls "under" the button while still being within the bounds of the
   page
*/
.column-wrapper {
    position: relative;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 8px;
}

.course-select-column {
    position: absolute;
    top: 0px;
    bottom: 0px;
    overflow-y: auto;
    width: 100%;
}

.row {
    padding-bottom: 8px;
    padding-right: 8px;
}

.row:nth-last-of-type(2) {
    padding-bottom: 0px;
}

#add-course-button {
    width: 100%;
}

#button-container {
    position: sticky;
    bottom: 0;
    padding-top: 8px;
    padding-right: 8px;
    background-color: #c2c2c2;
    z-index: 2;
}
