.fit-content, .table-container, .select-root {
    width: fit-content;
}

.table-container {
    padding-bottom: 8px;
}

.select-root:global(.MuiOutlinedInput-input) {
    padding: 8px 14px;
}

.select-menu:global(.MuiSelect-selectMenu.MuiSelect-selectMenu) {
    padding-right: 30px;
}

.placeholder-text {
    padding-bottom: 8px;
    padding-right: 8px;
}
