.my-list-item-icon {
    min-width: 0px !important;
    align-self: flex-start;
}

.my-icon-button {
    padding: 3px !important;
}

.meeting-details-text {
    padding-left: 8px;
}

.dense-list-item:global(.MuiTypography-body1) {
    line-height: 1.1;
}

.meeting-days {
    display: inline-block;
    min-width: 3em;
}

.section-num {
    padding-left: 4px;
}

.list-subheader-dense:global(.MuiListSubheader-root) {
    line-height: inherit;
}
