.logout-container {
    display: flex;
    align-items: center;
}

.user-name {
    white-space: nowrap;
}

.right-navbar-container {
    display: flex;
    align-items: center;
}

.help-button {
    color: #FFFFFF !important;
}