.card {
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 16px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    border-radius: 4px;
    min-width: 300px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.header {
    background-color: #500000;
    color: white;
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-radius: 4px 4px 0px 0px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.header-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin: 3px;
}

.content {
    margin-top: 8px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: black;
}

.no-elevation {
    box-shadow: none !important;
    animation: none;
}

.customization-buttons {
    margin-top: 8px;
    margin-bottom: 6px;
}

.course-input {
    margin-top: 4px;
    margin-right: 8px;
}

/* DEBUG currently unused */
.course-input-focused {
    margin-top: 8px;
}

#center-progress {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
