.app-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.app-container > div:nth-child(2) {
    flex-grow: 1;
}

.router {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .router {
        height: unset;
        overflow-y: auto;
    }
}
