.schedule-info-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    justify-items: right;
}

.details-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.no-padding {
    padding: 0px !important;
}

.schedule-info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, max-content) 1fr repeat(3, max-content);
    align-items: center;
    column-gap: 8px;
}

.divider {
  grid-column: 2 / -1;
}

.section-info {
    display: contents;
}

.section-info-item {
    display: flex;
    align-items: center;
}

.instructor-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.meeting-info {
    display: contents;
}

.right-align {
    justify-self: right;
}

.left-margin {
  margin-left: 8px;
}

.right-margin {
  margin-right: 8px;
}

.crn-container {
    display: flex;
    align-items: center;
}

.hours-display {
    padding-top: 8px;
    text-align: right;
}
