.icon-container {
    margin: 5px 8px 0px 0px;
}

.schedule-info-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    justify-items: right;
}

.details-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-info {
    width: 100%;
}

.bottom-padding {
    padding-bottom: 12px;
}

.section-title {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.section-name {
    display: flex;
    align-items: center;
}

.instructor-name {
    margin-right: 8px;
}

.meeting-info {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 0px 8px;
}

.right-align {
    justify-self: right;
}

.crn-container {
    display: flex;
    align-items: center;
}
