.icon-container {
    margin: 5px 8px 0px 0px;
}

.schedule-info-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    justify-items: right;
}

.details-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.no-padding {
    padding: 0px !important;
}

.section-info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.divider {
  grid-column: 1 / -1;
}

.bottom-padding {
    padding-bottom: 12px;
}

.section-title {
    display: contents;
}

.section-name {
    display: flex;
    align-items: center;
}

.instructor-name {
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.crn-hours-container {
    justify-self: right;
    display: flex;
    align-items: center;
}

.crn-hours-container > :first-child {
    padding-right: 8px;
}

.meeting-info {
    display: contents;
    padding: 0px 8px;
}

.right-align {
    justify-self: right;
}

.center {
    justify-self: right;
}

.left-padding {
  padding-left: 8px;
}

.right-padding {
  padding-right: 8px;
}

.crn-container {
    display: flex;
    align-items: center;
}

.hours-display {
    padding-top: 8px;
    text-align: right;
}
