.page-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-container {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: row;
}


.schedule-container {
    flex-grow: 1;
    flex-basis: 0;
}

.middle-column {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
}

.scheduler-picker-container, .course-card-column-container {
    background-color: #50000080;
    margin: 4px;
    padding: 4px;
    flex-grow: 1;
}

.course-card-column-container {
    flex-basis: 0;
    flex-grow: 2;
}