.page-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-container {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: row;
}

.schedule-container {
    flex-grow: 1;
    flex-basis: 0;
}

.middle-column {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: space-between;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 16px;
}

.course-card-column-container {
    margin: 4px;
    padding: 4px;
    flex-basis: 0;
    flex-grow: 1;
}