name: Backend CI
on: push

jobs:
  test-backend:
    name: 'Testing'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: docker-build
      # This option makes the Postgres container exit when the autoscheduler container does
        run: docker-compose up --abort-on-container-exit web

  lint-backend:
    name: 'Linting'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: pylint
        uses: cclauss/GitHub-Action-for-pylint@master
        with:
        # Installs Django and pylint-django, then runs pylint on all of the files in autoscheduler/
          args: pip install -r .github/lint-requirements.txt ; pylint autoscheduler/scraper autoscheduler/scheduler autoscheduler/autoscheduler autoscheduler/manage.py autoscheduler/user_sessions --load-plugins pylint_django --django-settings-module=autoscheduler.settings.base
