name: GCP Deploy
on: push

jobs:
  deploy-app-engine:
    name: App Engine
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Write Django secret to file
        run: echo $DJANGO_SECRET > autoscheduler/autoscheduler/settings/secret.txt
        env:
          DJANGO_SECRET: ${{ secrets.DJANGO_SECRET }}

      - name: Fill in Postgres credentials
        run: bash fill_credentials.sh ${{ secrets.POSTGRES_USER }} ${{ secrets.POSTGRES_PASS }}

      - name: Fill .env Google Auth credentials
        run: bash fill_google_auth_credentials.sh ${{ secrets.GOOGLE_CLIENT_ID }} ${{ secrets.GOOGLE_CLIENT_SECRET }}

      - name: Initialize Google Cloud SDK
        uses: zxyle/publish-gae-action@master
        with:
          service_account_email: ${{ secrets.GCP_SA_EMAIL }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          project_id: ${{ secrets.PROJECT_ID }}
          gae_config_path: ./autoscheduler/app.yaml

      - name: Initialize GCP Credentials
        run: |
          # This client-secret.json is converted by GCP_SA_KEY
          gcloud auth activate-service-account ${{ secrets.GCP_SA_EMAIL }} --key-file=client-secret.json
          gcloud config set project ${{ secrets.PROJECT_ID }}
      
      - name: Publish app to Google App Engine
        run: gcloud -q app deploy autoscheduler/app.yaml --promote

  deploy-storage:
    name: Cloud Storage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Initialize Google Cloud SDK
        uses: zxyle/publish-gae-action@master
        with:
          service_account_email: ${{ secrets.GCP_SA_EMAIL }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          project_id: ${{ secrets.PROJECT_ID }}
          gae_config_path: ./autoscheduler/app.yaml

      - name: Initialize GCP Credentials
        run: |
          # This client-secret.json is converted by GCP_SA_KEY
          gcloud auth activate-service-account ${{ secrets.GCP_SA_EMAIL }} --key-file=client-secret.json
          gcloud config set project ${{ secrets.PROJECT_ID }}

      - name: Get node.js
        uses: actions/setup-node@v1
      
      - name: npm install
        run: npm install
        working-directory: ./autoscheduler/frontend/src

      - name: npm build
        run: npm run build
        working-directory: ./autoscheduler/frontend/src

        # These don't actually matter, the file just has to exist for collectstatic
      - name: Fill in Postgres credentials
        run: bash fill_credentials.sh user pass

      - name: Get Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: pip install
        run: pip install -r requirements.txt
        working-directory:
          ./autoscheduler/

      - name: Collect static files
        run: |
          export SETTINGS_MODE=static
          python manage.py collectstatic --no-input
        working-directory: ./autoscheduler

      - name: Deploy to Google Cloud Storage
        run: gsutil -m cp -r . gs://${{ secrets.BUCKET_NAME }}
        working-directory: ./autoscheduler/static

  run-migrations:
    name: Run Migrations
    runs-on: ubuntu-latest
    env:
      GCP_DB_NAME: ${{ secrets.GCP_DB_NAME }}
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Fill in Postgres credentials
        run: bash fill_credentials.sh ${{ secrets.POSTGRES_USER }} ${{ secrets.POSTGRES_PASS }}

      - name: Initialize Google Cloud SDK
        uses: zxyle/publish-gae-action@master
        with:
          service_account_email: ${{ secrets.GCP_SA_EMAIL }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          project_id: ${{ secrets.PROJECT_ID }}
          gae_config_path: ./autoscheduler/app.yaml

      - name: Initialize GCP Credentials
        run: |
          # This client-secret.json is converted by GCP_SA_KEY
          gcloud auth activate-service-account ${{ secrets.GCP_SA_EMAIL }} --key-file=client-secret.json
          gcloud config set project ${{ secrets.PROJECT_ID }}

      # By default it copies to ./client-secret.json, but we need it in docker/cloud-sql-proxy so its in
      # the cloud-sql-proxy-cred-file's context
      - name: Copy client-secret.json
        run: cp client-secret.json docker/cloud-sql-proxy-cred-file/client-secret.json

      - name: Run docker
        # sudo -E so we can access the GCP_DB_NAME env var
        run: sudo -E docker-compose up --build --abort-on-container-exit run-migrations
