.hour-marker {
    flex-grow: 1;
    border-bottom: 1px solid darkgray;
    height: 0;
    align-self: stretch;
    position: relative;
    top: 0;
}

.calendar-body {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: calc(100% - 16px);
}

.meetings-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
}

.header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 10px;
    background: linear-gradient(#500000 0px, #500000 9px, #ffffff 9px, #ffffff 10px);
}

.mini-schedule-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-self: stretch;
    min-height: 120px;
}

.aspect-ratio-box {
    position: relative;
    height: 0px;
    padding-top: calc(50% - 16px);
    width: calc(33% - 16px);
    margin: 8px 0px 8px 16px;
}
