@value v-time-label-margin: 48px;
@value fullscreen-row-height: 48px;

.calendar-container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    height: calc(100% - 24px - fullscreen-row-height);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.header {
    display: flex;
    flex-direction: row;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #500000;
    margin-left: v-time-label-margin;
    margin-bottom: -0.5rem;
}

.header-tile {
    flex-grow: 1;
    color: white;
    text-align: center;
   height: 30px;
   line-height: 30px;
}

.calendar-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
}

.hour-label {
    flex-grow: 0;
    width: calc(v-time-label-margin - 4px);
    align-self: stretch;
    text-align: right;
    padding-right: 4px;
    background-color: #c2c2c2;
}

.hour-marker {
    flex-grow: 1;
    border-bottom: 1px solid darkgray;
    height: 0;
    align-self: stretch;
    position: relative;
    top: 0.5em;
}

.calendar-row:nth-last-child(2) {
    height: 0.5rem;
    flex-grow: 0;
}

.meetings-container {
    position: absolute;
    height: calc(100% - 0.5rem);
    width: calc(100% - v-time-label-margin);
    top: 0px;
    left: 0px;
    margin-left: v-time-label-margin;
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}

.calendar-body {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(transparent 0, transparent 0.5rem, white 0.5rem);
}

.calendar-day {
    flex-grow: 1;
    position: relative;
    /* might re-enable this someday for accessibility */
    outline: none;
}

.availabilities-loading-indicator {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
